.container {
  margin: auto;
  background-image: linear-gradient(var(--dark), var(--grey), var(--green));
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(247, 235, 236);
  font-family: Tajawal;
  width: 414px;
}

.container button {
  margin: 10px;
  border: 0.1px solid rgb(252, 255, 252);
  border-radius: 5px;
  width: 10rem;
  height: 2rem;
  color: rgb(252, 255, 252);
  background-color: var(--grey);
  font-family: Tajawal;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

.infos table {
  color: rgb(247, 235, 236);
  text-decoration: none;
  padding: 15px;
  margin: 30px;
  font-family: Tajawal;
  margin: 10px;
  width: 100%;
}

.infos td, th {
  border: solid 0.1px rgba(247, 235, 236, 0.276);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  background-image: linear-gradient(var(--dark), var(--green));
}

.hdsLink {
  color: rgb(247, 235, 236);
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15px;
  background-image: linear-gradient(var(--dark), var(--green));
  margin-bottom: 30px;
  font-family: Tajawal;
}

.changesButtons {
  margin: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.changesButtons button {
  color: rgb(247, 235, 236);
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15px;
  background-image: linear-gradient(var(--dark), var(--green));
  margin-bottom: 30px;
  font-family: Tajawal;
  border: none;
  margin: 5px;
  width: 100px;
}