.container {
  margin: auto;
  background-image: linear-gradient(var(--dark), var(--grey), var(--green));
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(247, 235, 236);
  font-family: Tajawal;
  width: 414px;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.hds {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  width: 80%;
  padding: 5rem;
}

.buttonAll {
  margin: 10px;
  border: 0.1px solid rgb(252, 255, 252);
  border-radius: 5px;
  width: 10rem;
  height: 2rem;
  color: rgb(252, 255, 252);
  background-color: var(--buttonSubmit);
  font-family: Tajawal;
}

.newHdLink {
  color: rgb(247, 235, 236);
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 15px;
  background-image: linear-gradient(var(--dark), var(--green));
  margin-bottom: 30px;
  font-family: Tajawal;
}

.hdsTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 20px;
  text-align: center;
  font-family: Tajawal;
  /* border: solid yellow 1px; */
  justify-content: center;
}

.hdsTable table {
  color: rgb(247, 235, 236);
  text-decoration: none;
  padding: 15px;
  margin: 30px;
  font-family: Tajawal;
  margin: 10px;
  width: 100%;
  /* border: solid red 1px; */
}

.hdsTable td, th {
  border: solid 0.1px rgba(247, 235, 236, 0.276);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  background: rgb(202, 207, 214);
  color: var(--dark);
}


.hdsTable a {
  color: var(--dark);
  text-decoration: none;
}