.container {
  display: flex;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: auto;
  padding: 2rem;
}

.main {
    border: solid 0.1px rgba(255, 255, 255, 0.244);
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 30px;
    margin: 20px;
    text-decoration: none;
  }
  
.card {
  border: solid 0.1px rgba(255, 255, 255, 0.244);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 15px;
  justify-content: center;
  margin: 2%;
  width: 40%;
  height: 30%;
  
}

.card img {
  width: 100%;
  border-radius: 20px;
}

.card a {
  text-decoration: none;
  margin: center;
}

.card h1 {
  margin: auto;
  font-size: 100%;
}

.card img{
  width: 100%;
  margin-top: 15px;
}


