.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-image: linear-gradient(var(--dark), var(--grey), var(--green));
  color: rgb(247, 235, 236);
  width: 414px;
  font-family: Tajawal;
}

.card a {
  text-decoration: none;
  margin: center;
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
  color: rgb(247, 235, 236);
}

.main {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  color: rgb(252, 255, 252);
  font-family: Tajawal;
  margin: 50px 20px;
}

.cards {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 40px;
  width: 80%;
  padding: 0px 30px;
  justify-content: center;
}
  
.card {
  border-radius: 20px;
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 15px;
  justify-content: center;
  margin: 2%;
  width: 100px;
  height: 100px;
  padding: 5px 0px;
  transition: 2s linear;
}

.card img {
  width: 100%;
  border-radius: 00px 0px 20px 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transform: translateY(12px);
}

.card h1 {
  margin: auto;
  font-size: 15px;
}



