.body {
    width: 375px;
    height: 667px;
    margin: auto;
    background-image: linear-gradient(var(--dark), var(--grey), var(--green));
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    margin: auto;
}