.container {
  align-items: center;
  /* background-image: linear-gradient(var(--dark), var(--grey), var(--green)); */
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: auto;
  width: 414px;
}

.logo {
  margin: auto;
}