.container {
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100vh;
    margin: auto;
    padding: 2rem;
    border: 1px red;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.form {
    align-items:center;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 80%;
    padding: 5rem;
}

.form input {
    margin-top: 5px;
    padding: 3px;
}

.form button {
    margin-top: 10px;
    width: 9.5rem;
}